@if (things === null) {
    <h3 class="m8 mat-h3">Loading...</h3>
}
@else if (things.length > 0) {
    <div class="p8"
        flexContainer
        flexMain="start"
        flexCross="start"
        flexGap="8px">
            @for (thing of things; track thing.id) {
                <thing-card [thing]="thing"
                            (edit)="edit($event)"
                            (remove)="remove($event)"></thing-card>
            }
    </div>
} @else {
    <h3 class="m8 mat-h3 color-warn">No Things Available</h3>
}
